.App-btn {
    border-radius: 5px;
    border: 1px solid #5a1879;
    box-shadow: 0px 0px 5px #000;
    font-weight: bold;
    font-size: 14px;
    align-items: center;
    cursor: pointer;
    transition-timing-function: ease;
    transition-duration: 0.5s;
  }
  
  .App-btn:hover {
    background-color: #5398e7;
  }
  
  .App-btn:active {
    border: 1px solid #791818;
    background-color: #59aaf7;
    color: #fff;
  }
  
  .App-btn__ops {
    background-color: #ffe4c4;
  }
  
  .App-btn__list-of-numbers {
    background-color: #7fffd4;
  }
  