.App-contaiter-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5px;
    border: 2px dashed #ff0000;
}