.App-list-students {
    display: flex;
    border-radius: 5px;
    border: 1px solid #5a1879;
    box-shadow: 0px 0px 5px #000;
    flex-direction: column;
    list-style-type: decimal;
    margin: 0;
    width: 20vw;
    min-height: 50vh;
    height: 100%;
    transition-timing-function: ease;
    transition-duration: .5s;
}

.App-list-students__item {
    position: relative;
}

.App-list-students__btn {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 3px 0 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: #fff;
    cursor: pointer;
  }
  